*.r linguist-language=R
*.ipynb linguist-language="Jupyter Notebook"
*.ipynb linguist-detectable=true
*.js linguist-detectable=false
*.html linguist-detectable=false 
*.css linguist-detectable=false
*.json linguist-detectable=false
*.js linguist-vendored
